
body {
  font-style: normal;
  overflow-x: hidden;
}
body,section{
  position: relative;
  z-index: 2;
  background: #fdfdfd;
}
/* 
html, body {
  width: 100%;
  height: 100%;
} */



/*---------------------------------------
  Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  letter-spacing: 0px;
}

h1 {
  color: #3d3d3f;
  font-size: .30rem;
  line-height: normal;
}

h2 {
  color: #575757;
  font-size: .25rem;
  line-height: .52rem;
  margin-top: 0px;
}

h4 {
  color: #797979;
  font-size: .18rem;
  font-weight: normal;
}

p {
    color: #878787;
    font-size: .16rem;
    line-height: .25rem;
    letter-spacing: 0.2px;
}

strong, span {
  color: #878787;
  font-weight: normal;
}



/*---------------------------------------
  Buttons               
-----------------------------------------*/

.section-btn {
  background: #d7b065;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size:.2rem;
  letter-spacing: 1.6px;
  padding: .1rem .36rem .1rem .36rem;
  margin-top: 32px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.section-btn:focus,
.section-btn:hover {
  background: #000000;
  color: #ffffff;
}

.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}

/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #575757;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: #000000;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  padding-bottom: .3rem;
}

#about, #work,
#contact,#project {
  position: relative;
  padding-top: .8rem;
  padding-bottom: .8rem;
}

#about img, #team img {
  border-radius: 5px;
}

#work {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

#project {
  text-align: center;
  margin-bottom: 100vh;
  box-shadow: inset 0px -5px 10px rgba(0, 0, 0,.08);
}

#contact{
  border-top: 1px solid #f0f0f0;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: transparent;
  z-index: 1;

}
#contact a{
  color: #d7b065;
}
.contact{
  display: none;
  padding: 0 0 100px;
}
.contact h2{
  font-size: .5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.qr-link{
  display: inline-block;
  position: relative;
}
.qr-link>a:hover+.qr-box{
  opacity: 1;
  margin-top: 5px;
}
.qr-box{
  position:absolute;
  margin-top: 0px;
  top: 100%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  background: white;
  border-radius: 0.25em;
  width: 150px;
  box-shadow: 0 4px 15px #d7e4ed;
  transition: all ease-in-out 0.2s;
}
.qr-box::before{
  content: '';
   position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -7px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
}
/*---------------------------------------
  Pre loader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: .8rem;
  height: .8rem;
  margin-left: -.4rem;
  margin-top: -.4rem;
  border-radius: 50%;
  border: 1px solid #a5a5a5;
  border-top-color: #f9f9f9;
  animation: spinner .9s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}



/*---------------------------------------
  Navigation section              
-----------------------------------------*/

.custom-navbar {
  border: none;
  margin-bottom: 0;
  background-color: rgba(251, 251, 251, 0.5);
  padding-top: 5px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.custom-navbar .navbar-brand {
  color: #444;
  font-weight: normal;
  font-size: .2rem;
  padding: 0;
  height: inherit;
}

.custom-navbar .navbar-brand img{
  display: inline-block;
}
.custom-navbar .nav li a {
  font-size: .14rem;
  font-weight: normal;
  color: #656565;
  letter-spacing: 1px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  padding: 0;
  margin: .15rem;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #454545;
}

.custom-navbar .navbar-nav li a:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  border-radius: 5px;
  height: 2px;
  margin: 5px 0 0;
  background: transparent;
  transition: width .3s ease, background-color .3s ease;
}

.custom-navbar .navbar-nav li a:hover:after,
.custom-navbar .nav li.active > a:after {
  background: #000000;
  color: #ffffff;
  width: 100%;
}

.custom-navbar .nav li.active > a {
  background-color: transparent;
  color: #454545;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 12px;
  margin: 0;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #000000;
  border-color: transparent;
}

@media(min-width:768px) {
    /* .custom-navbar {
      border-bottom: 0;
      background: 0 0; 
    } */
    .custom-navbar.top-nav-collapse {
      background: #fdfdfd;
      box-shadow: 0 40px 50px rgba(0,0,0,.15);
      padding: 10px 0;
    }

}



/*---------------------------------------
  Home section              
-----------------------------------------*/

#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  position: relative;
  padding-top: .6rem;
  background: transparent;
}

#home img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
#home .fa-ul{
  margin-left: .25rem;
}

/*---------------------------------------
  About section              
-----------------------------------------*/

#about .section-title {
  padding-bottom: 16px;
}

#about .col-md-4 a {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 6px 6px 0px 0;
}

#about .about-thumb {
  margin-top: 22px;
}

#about .about-thumb strong {
  font-weight: normal;
  display: block;
  padding-top: 4px;
}



/*---------------------------------------
  Skill section              
-----------------------------------------*/

#skill {
  position: relative;
  border-top: 1px solid #f0f0f0;
  padding-top: .8rem;
  padding-bottom: .6rem;
}

.skill-thumb strong,
.skill-thumb span {
  color: #575757;
  font-size: .16rem;
  padding-bottom: 8px;
  display: inline-block;
}

.skill-thumb .progress {
  background: #eee;
  border-radius: 5px;
  box-shadow: none;
  height: 4px;
}
.animated .progress .progress-bar{
		    position: relative;
		    -webkit-animation: animate-positive 3s;
		    animation: animate-positive 3s;
		}

.skill-thumb .progress-bar-primary {
  background: #3d3d3f;
  border-radius: 5px;
}
@-webkit-keyframes animate-positive{
	0%{ width: 0; }
}
@keyframes animate-positive {
	0%{ width: 0; }
}



/*---------------------------------------
  Work section              
-----------------------------------------*/

#work .work-thumb {
  border-radius: 5px;
  margin:15px 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#work .work-thumb:hover {
  background: #ffffff;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

#work .work-thumb img {
  border-radius: 2px;
}
#work .gallery{
  display: inline-flex;
  flex-wrap: wrap;
}


/*---------------------------------------
  project section              
-----------------------------------------*/

#project .form-control {
  border-radius: 0px;
  border-color: #f0f0f0;
  box-shadow: none;
  font-size: .16rem;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#project .form-control:focus {
  border-bottom: 2px solid #999999;
}

#project input {
  height: 55px;
  border: none;
  border-bottom: 1px solid #f0f0f0;
}
#project .project-popup{
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 175px;
  overflow: hidden;
  box-shadow: 0 4px 10px #d7e4ed;
}
#project button#submit {
  background: #000000;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 300;
  height: 55px;
  padding-bottom: 10px;
  margin-top: 24px;
}

#project button#submit:hover {
  background: #d7b065;
  color: #ffffff;
}



/*---------------------------------------
  Social icon             
-----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  background: #292929;
  border-radius: 100%;
  color: #ffffff;
  cursor: pointer;
  font-size: .16rem;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 20px 6px 10px 6px;
}

.social-icon li a:hover {
  background: #d7b065;
  transform: scale(1.1);
}


/*---------------------------------------
  Mobile Responsive styles              
-----------------------------------------*/

@media (min-width: 768px) and (max-width: 1024px) {
  #home {
    height: 80vh;
  }
}

@media (min-width: 667px) and (max-width: 767px) {
  #home {
    height: 140vh;
  }
}

@media (min-width: 568px) and (max-width: 665px) {
  #home {
    height: 190vh;
  }
}
/* 
@media (max-width: 980px) {


 #work .work-thumb {
  margin-top: 30px;
 }

} */






#switcher { height: 54px; background: url(bg2.png) repeat-x; z-index: 9; position: fixed; width: 100%; top: 0; background: #000; }
.center { width: 100%; padding-top: 0 }
.center ul li { display: inline; float: left; position: relative }
.logoTop, .top2 { margin-left: 30px;margin-right: 30px; margin-top: 20px; color: #fff; font-weight: bold; font-family: "微软雅黑" }

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  /* width: 90%; */
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#cd-timeline {
  position: relative;
  /* padding: 2em 0; */
  margin-top: 2em;
  margin-bottom: 2em;
  /* width: 95%; */
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 1em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 1em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0.2rem;
  left: -.08rem;
  width: .2rem;
  /* margin-left: 10px; */
  height: .2rem;
  background: #accee6;
  border-radius: 50%;
  box-shadow: 0 0 0 0.04rem white, inset 0 0.02rem 0 rgba(0, 0, 0, 0.08), 0 0.03rem 0 0.04rem rgba(0, 0, 0, 0.05);
}
/* .cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
} 
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}*/
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 20px;
    height: 20px;
    left: 50%;
    top: 20px;
    margin-left: -10px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 25px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 4px 15px #d7e4ed;
  text-align: left;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  font-size: .18rem;
  display: flex;
    align-items: center;
    justify-content: space-between;
  color: #303e49;
}
.cd-timeline-content h2 a{
  font-size: .14rem;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: .03rem 0;
    min-width: 1rem;
    text-align: center;
    line-height: 1.2;
}
.cd-timeline-content h2 a .icon{
  font-size: .12rem;
  margin-right: 5px;
  color: #999;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: .14rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;  
}
a.cd-read-more:hover{text-decoration:none; background-color: #424242;  }
.cd-timeline-content .cd-date {
  float: right;
  /* padding: .8em 0; */
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    width: 48%;
    padding: 0 .15rem;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 200px;
    left: 110%;
    top: 20px;
    font-size: .16rem;
    text-align: left;
    float: left;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 110%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@media (max-width:1920px){
  html{
    font-size: 100px;
  }
}
@media (max-width:1024px){
  html{
    font-size: 90px;
  }
}
@media (max-width: 768px) {
  html{
    font-size: 85px;
  }
  .custom-navbar .navbar-brand{
    padding: 4px;
    font-size: 16px;
  }

  .custom-navbar .navbar-brand img{
    width: 30px;
  }
  .custom-navbar {
    padding: 5px;
  }
  .custom-navbar.top-nav-collapse{
    background-color: #fdfdfd;
    box-shadow: 0 20px 25px rgba(0,0,0,.05);
  }
  .custom-navbar .nav li a {
    display: inline-block;
    margin-bottom: 5px;
  }

}
@media (max-width: 580px) {
  html{
    font-size: 75px;
  }
  .custom-navbar .navbar-nav{
    background: #fcfcfc;
    border-top: 1px solid #f0f0f0;
  }
  #about .about-thumb {
    margin-top: 0px;
  }

  .about-thumb .social-icon {
    margin-bottom: 15px;
  }
}

@media (max-width: 357px) {
  #about .col-md-4 a {
    width: 85px;
    height: 85px;
  }

}
